@font-face {
    font-family: 'Avenir';
    src: url(../res/fonts/Avenir.otf);
}

html, body {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    min-width: 980px;
    min-height: 100% !important;
    color: white;
}

.logo-view {
    position: absolute;
    z-index: 100;
    top: 25px;
    left: 25px;
}

.logo {
    width: 50px;
    height: 50px;
}

.link {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 25px;
}

.link a {
    color: #F53765;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.sponsor-link a:hover {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.main-btn {
    border-radius: 5px;
    border: 1px solid #F53765;
    padding: 10px;
    font-weight: 700;
    font-size: 1em;
    background-color: #F53765;
    color: #333 !important;
    text-decoration: none;
}

@media (max-width: 992px) {
    .main-btn {
        font-size: 2.4em;
    }
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

.main-btn:hover {
    background-color: white;
    color: #487570;
}

.init-opacity {
    opacity: 0;
}

.full-height {
    height: 100%;
}

.slide {
    width: 100%;
    display: table;
    position: relative;
}

.slide-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-footer {
    width: 100%;
    display: table;
}

.fixed-bg {
	background-attachment: fixed;
	background-size: cover;
}

.header {
    background: url(../res/img/bg.png);
    background-size: cover;
    color: #F53765;
}

@media (min-width: 993px) {
    .header {
        padding-bottom: 100px;
    }
}

.header-title {
    font-size: 9em;
}

@media (max-width: 992px) {
    .header-title {
        font-size: 15em;
    }
}

.content {
    text-align: center;

    background: linear-gradient(rgb(251, 60, 95), rgb(255, 64, 52));
}

.section-title {
    font-family: Arial;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

.question {
    font-size: 1.4em;
    text-decoration: underline;
}

.question-answer {
    font-size: 1em;
}

@media (max-width: 992px) {
    .question {
        font-size: 2.3em;
    }

    .question-answer {
        font-size: 2em;
    }
}

.bottom-padding {
    padding: 0 0 25px 0;
}

.social-outlets {
    font-size: 11em;
}

.social-outlet {
    padding: 10px;
}

a {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

a:active {
    color: #aaa;
}

p {
    font-size: 1.5em;
}

@media (max-width: 992px) {
    p {
        font-size: 3em;
    }
}

hr.small {
    max-width: 100px;
}

.footer {
    background-color: rgb(47, 47, 47);
    padding: 10px 0;
    font-size: 16px;
}

/* Utility */

.fixed-bg {
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 992px) {
    .fixed-bg {
        background-attachment: scroll;
    }
}

