@font-face {
    font-family: 'Avenir';
    src: url(../res/fonts/Avenir.otf);
}

html, body {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    min-width: 980px;
}

.bg {
    background: url(../res/img/bg.png);
    background-position: fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-view {
    z-index: 100;
}

.logo {
    width: 75px;
    height: 75px;
}

.logo-gray {
    position: fixed;
    bottom: 75px;
}

.logo-white {
    position: fixed;
    top: 25px;
    left: 75px;
}

.gray-bg {
    background-color: #eee;
}

.gray-color {
    color: #777;
}

.error-header {
    color: black;
}

.error-msg {
    margin-top: 15%;
}

.error-link {
    position: fixed;
    bottom: 75px;
    right: 8.33333333%;
}

.text-left {
    text-align: left;
}

.main-btn {
    border-radius: 5px;
    border: 1px solid white; /* otc */
    padding: 10px;
    font-weight: 700;
    font-size: 1em;
    background-color: transparent;
    color: white; /* otc */
    text-decoration: none;
}

@media (max-width: 992px) {
    .main-btn {
        font-size: 2.4em;
    }
}

.main-btn.left {
    float: left;
}

.main-btn.right {
    float: right;
}

.main-btn:hover {
    background-color: white;
    color: #487570;
}

body.main {
    color: white; /* otc */
}

.init-opacity {
    opacity: 0;
}

.full-height {
    height: 100%;
}

.slide {
    width: 100%;
    display: table;
    position: relative;
}

.slide-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-footer {
    width: 100%;
    display: table;
}

.fixed-bg {
	background-attachment: fixed;
	background-size: cover;
}

.navbar-custom {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 50;
    background-color: rgb(251, 58, 95);
}

.navbar-custom .navbar-custom-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-custom .navbar-custom-container {
    width: 585px;
    margin: auto;
}

@media (max-width: 992px) {
    .navbar-custom .navbar-custom-container {
        width: 625px;
        margin: auto;
    }
}

.navbar-custom-ul .navbar-custom-nav {
    display: inline-block;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 18px;
}

.navbar-custom-nav.active {
    background-color: #FAA;
    color: black;
}

.navbar-custom-nav a {
    text-decoration: none;
    font-weight: bold;
}

.navbar-custom-nav.active a {
    color: black;
}

.header {
    padding-bottom: 100px;
}

.header-title {
    font-size: 9em;
}

@media (max-width: 992px) {
    .header-title {
        font-size: 15em;
    }
}

.header-subtitle {
    font-size: 2em;
}

.slide-title {
    font-size: 5em;
}

.question {
    font-size: 1.4em;
    text-decoration: underline;
}

.question-answer {
    font-size: 1em;
}

@media (max-width: 992px) {
    .question {
        font-size: 2.3em;
    }

    .question-answer {
        font-size: 2em;
    }
}

.bottom-padding {
    padding: 0 0 25px 0;
}

.social-outlets {
    font-size: 11em;
}

.social-outlet {
    padding: 10px;
}

.section:nth-child(odd) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.half-height {
    height: 60%;
}

#contact {
    height: 100%;
}

@media (max-width: 992px) {
    .section:nth-child(odd) {
        background-attachment: scroll;
    }
}

.font-huge {
    font-size: 72px;
}

a {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

a:active {
    color: #aaa;
}

p {
    font-size: 1.5em;
}

@media (max-width: 992px) {
    p {
        font-size: 3em;
    }
}

hr.small {
    max-width: 100px;
}

hr.black {
    border-top-color: black;
}

hr.white {
    border-top-color: white;
}

.bg-primary {
    
    color: white;
}

.bg-secondary {
    background-color: black;
}

footer {
    padding: 100px 0;
}

.form-container {
    width: 50px;
}

/* Utility */

.fixed-bg {
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 992px) {
    .fixed-bg {
        background-attachment: scroll;
    }
}

