@font-face {
    font-family: 'Avenir';
    src: url(../res/fonts/Avenir.otf);
}

.hackerearth {
    transform: scale(0.5, 0.5);
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    color: white;
}

.logo-view {
    position: absolute;
    z-index: 200;
    top: 50px;
}

.logo {
    width: 50px;
    height: 50px;
}

@media (max-width: 992px) {
    .logo-view {
        top: 20px;
        left: 20px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}

.text-left {
    text-align: left;
}

.main-btn {
    border-radius: 5px;
    border: 1px solid #F53765;
    padding: 10px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 24px;
    background-color: #F53765;
    color: #333 !important;
    text-decoration: none;
}

@media (max-width: 992px) {
    .main-btn {
        font-size: 18px;
    }
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

.main-btn:hover {
    background-color: white;
    color: #487570;
}

.init-opacity {
    opacity: 0;
}

.full-height {
    height: 100%;
}

.slide {
    width: 100%;
    display: table;
    position: relative;
}

.slide-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-footer {
    width: 100%;
    display: table;
}

.fixed-bg {
	background-attachment: fixed;
	background-size: cover;
}

.header {
    background: url(../res/img/bg.png);
    background-size: cover;
    padding-bottom: 100px;
    color: #F53765;
}

.header-title {
    font-size: 108px;
}

@media (max-width: 992px) {
    .header-title {
        font-size: 36px;
    }
}

.content {
    text-align: center;

    background: linear-gradient(rgb(251, 60, 95), rgb(255, 64, 52));
}

.section-title {
    font-family: Arial;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

@media (max-width: 992px) {
    .section-title {
        font-size: 24px;
    }
}

.question {
    font-size: 1.8em;
    text-decoration: underline;
}

.question-answer {
    font-size: 1.6em;
}

@media (max-width: 992px) {
    .question {
        font-size: 18px;
    }

    .question-answer {
        font-size: 14px;
    }
}

.bottom-padding {
    padding: 0 0 25px 0;
}

.social-outlets {
    font-size: 11em;
}


.social-outlet {
    padding: 10px;
}

@media (max-width: 992px) {
    .social-outlets {
        font-size: 48px;
    }

    .social-outlet {
        padding: 0px;
    }
}

a {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

a:active {
    color: #aaa;
}

p {
    font-size: 24px;
}

@media (max-width: 992px) {
    p {
        font-size: 18px;
    }

    #about {
        padding: 0;
    }
}

hr.small {
    max-width: 100px;
}

.footer {
    background-color: rgb(47, 47, 47);
    padding: 10px 0;
    font-size: 1.2em;
}

.bottom-nav {
    list-style-type: none;
}

.bottom-nav a {
    text-decoration: none;
}

@media (max-width: 992px) {
    .bottom-nav {
        margin-left: -50px;
    }

    .right {
        float: none;
    }
}

#other {
    display: none;
}

a.img-link {
    text-decoration: none;
}

.spacer {
    width: 50px;
    height: 10px;
    display: inline-block;
}
